#fan{
    color: coral;
    position: relative;
    top: 33px;
    right: 35px;
}
.trend ul{
  display: flex;
  position: relative;
  left: 20px;
  list-style: none;
}
.trend1 ul{
  display: flex;
  position: relative;
  left: 20px;
  list-style: none;
}
.trending3 ul{
  display: flex;
  position: relative;
  left: 20px;
  list-style: none;
}
body{
  background-color:#C8C4B8;
  overflow-x: hidden;
  overflow-y: scroll;

}
#home{
    color: lightsalmon;
}
.nav{
    margin-left: 30px;
    background-image: url(bg_720-removebg-preview\ \(1\).png);
    border: 100%;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;


}

#fix{
  color: coral;
  font-size: 60px;
  font-weight: bold;
}
.empty{
  margin: 10%;
  background-color: white;
}

#ultimate{
  font-weight: bolder;
  font-size: 60px;
  

}
#fix{
  font-weight: bold;
  font-size: 40px;
}
#quick{
  font-weight: bolder;
  font-size: 40px;
}
#icon{
  color: red;
  margin-left: 10px;
  position: relative;
  bottom: 600px;
  left: 50px;

  
}
#button{
  background:#F22E52;
  position: relative;
  bottom: 600px;
  left: 45px;
  width: 150px;
  height: 30px;
}
#heading{
  text-align: center;
  position: relative;
  bottom: 400px;
}
#image{
  width: 150px;
  transform: rotate(-45deg);
  


  

}
.images3{
  background-image: linear-gradient(#977979,#ff004c);
  padding: 2em;
}
.design{
  background-color: white;
  border-radius: 10px;
  position: relative;
  
}
#ui{
  position: relative;
  

}
#kashan{
  position: relative;
  

}
.image1{
  background-image: linear-gradient(#00eeff,purple) ;
  padding: 2em;
}
.images{
  background-image: linear-gradient(#00eeff,#ff004c);
  padding: 2em;
}
.container1{
  
  display: flex;
   margin-right: 10px;
}
#testimony{
  color: #F24B59;
}
#bag{
  position: relative;
  bottom: 40px;
  left: 80%;

}
#bag1{
  position: relative;
  bottom: 40px;
  left: 80%;
}
#bag2{
  position: relative;
  bottom: 40px;
  left: 80%;
}
#bag3{
  position: relative;
  bottom: 40px;
  left: 80%;
}
#special{
  color: #F22E52;
  font-size: 20px;
  
}
#special2{
  color: #F22E52;
  font-size: 20px;
}
#email{
  position: relative;
  top: 105px;
  right:150px;
}
#enter{
  width: 250px;
}
#bag4{
  position: relative;
  bottom: 3px;
  left: 80%;
}
#bag5{
  position: relative;
  bottom: 3px;
  left: 80%;
}
#bag6{
  position: relative;
  top: 4px;
  left: 75%;
}
#heart6{
  position: relative;
  top: px;
}

#bag7{
  position: relative;
  bottom: 3px;
  left: 75%;
}
#bag8{
  position: relative;
  bottom: 40px;
  left: 80%;
}
.break{
  position: relative;
  bottom: 190px;
  width: 910px;
  height: 100px;
  left: 150px;
  
  background-color: white;
}



  
  
  


.images{
  
  width: 125px;
  height: 105px;
  
}
#imade{
  width: 150px;
  transform: rotate(685deg);
}
.container2{
  display: flex;
  /* background-color: rgb(100, 100, 208); */
  margin-right: 10px;

}
#imade2{
  width: 150px;
  transform: rotate(685deg);
  
 
  
}
#add{
  color: white;
  background-color: crimson;

}
#order{
  border: 1px solid crimson;
  color: crimson;

}
.container3{
  display: flex;
  background-color: rgb(106, 106, 192);
 
}
.all{
  
  
  display: flex;
   margin-left: 10%;
   position: relative;
   bottom: 400px;
   
   
}



.words1{
  background-color: white;
  width: 120px;
  
}
.words2{
  background-color: white;
  width: 120px;
}
.words3{
  background-color: white;
  width: 120px;
}
#feature{
text-align: center;
position: relative;
bottom: 200px;
}
.people{
  display: flex;
  position: relative;
  left: 75px;
  bottom: 200px;
}
#kids{
  font-weight: bold;
  margin-left: 30px;
}
#women{
  font-weight: bold;
  margin-left: 15px;
}
#men{
  font-weight: bold;
  margin-right: 15px;
  color: coral;
}
#imade5{
  width: 150px;
  transform: rotate(-45deg);



}
.container5{
  background-color: white;
  width: 2000px;
  height: 250px;
  
  position: relative;
  left: 85px;
 
  
}



#imade6{
  width: 150px;
  transform: rotate(-45deg);
  position: relative;
  top: 35px;

}
.words6{
  position: relative;
  top: 65px;

}
.container6{
  width: 2000px;
  height: 250px;
  background-color: white;
  
  
  margin-left: 10%;
}
#imade7{
  width: 150px;
  transform: rotate(-45deg);
  position: relative;
  top: 30px;
}
.words7{
  position: relative;
  top: 70px;
}
.container7{
  width: 2000px;
  height: 250px;
  
  background-color: white;
  margin-top: 10%;
  margin-left: 10%;
  position: relative;
  bottom:123px;
  right: 85px;
  
}
#imade8{
  width: 150px;
  transform: rotate(-45deg);
}
.words8{
  position: relative;
  top: 40px;
}
.container8{
  width: 2000px;
  height: 250px;
   
  background-color: white;
  margin-top: 10%;
  margin-left: 10%;
  position: relative;
  bottom: 130px;
  right: 170px;

  

  

}
.main-container{
   display: flex; 
  position: relative;
  bottom: 200px;
}
#imade9{
  width: 150px;
  transform: rotate(-45deg);
  position: relative;
  top: 25px;
 
  
}
.container9{
  background-color: white;
  width: 200px;
  position: relative;
  left: 3px;
  
  
  

}
#imade10{
  width: 150px;
  transform: rotate(-40deg);
  position: relative;
  top: 25px;
  

}
.container10{
  background-color: white;
  width: 200px;
  position: relative;
  left: 50px;
  
  
}
#words10{
  position: relative;
  top: 25px;
}
#imade11{
  width: 150px;
  transform: rotate(-35deg);

}
.container11{
  background-color: white;
  width: 200px;
  position: relative;
  left: 150px;
}
#imade12{
  width: 150px;
  transform: rotate(-45deg);
  position: relative;
  top: 25px;
}
.container12{
  background-color: white;
  width: 200px;
  position: relative;
  left: 240px;
  

}
#words12{
  position: relative;
  top: 40px;
}
#heart{
  position: relative;
  bottom: 270px;
  left: 3px;
}
#heart1{
  position: relative;
  bottom: 260px;
  left: 3px;

}
#heart2{
  position: relative;
  bottom: 260px;
  left: 3px;

}
#heart3{
  position: relative;
  bottom: 260px;
  left: 3px;

}
#heart4{
  position: relative;
  bottom: 190px;
  left: 3px;
}
#heart5{
  position: relative;
  bottom: 190px;
  left: 3px;

}
#heart6{
  position: relative;
  bottom: 190px;
  left: 3px;

}
#heart7{
  position: relative;
  bottom: 190px;
  left: 3px;


}
.main2{

 
position: relative;
 display: flex; 
left: 80px;
bottom: 180px;
  
  
}



#buttonl{
  position: relative;
  bottom: 130px;
  left: 39%;
  color: #F22E52;
  border: 1px solid crimson;
  
}
#arrival{
  text-align: center;
  font-size: 30px;
}
#shoe{
  width: 150px;
}
#images{
  width:250px;
  position: relative;

}
.container13{
  display: flex;
  position: relative;
  left: 80px;
}
.wordss{
  position: relative;
  left: 15px;
}
#imagess{
  width: 250px;
}
.container14{
  display: flex;
  position: relative;
  left: 200px;
}
.shoes2{
  display: flex;
}
.content{
  display: flex;
  position: relative;
  left: 70px;
}
.paragraph{
  position: relative;
  left: 50px;
  font-size:10px;
  background-color: white;
  height: 150px;
   border-radius:5px ;
   left: 200px;
   
   
   
  
}
.subscribe{
  position: relative;
  left: 70px;
  background-color:#F2ACBF;
  width: 1100px;
  height: 250px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 30px;
  
  

  
}
#download{
  width: 100px;
  position: relative;
  bottom: 36px;
  left: 10%;
}
#google{
  width: 100px;
}
.content-all{
  display: flex;
  
  position: relative;
  left: 65px;
  background-color: #F24B59;
  width: 1100px;
  border-radius: 10px;
  color: white;
  

}
#buy1{
  background-color:#FF505A

}
#buy{
  background-color: #FF505A

}
.designer{
  border: solid grey 1px;
  position: relative;
  left: 500px;
  height: 100px;
  top: 70px;
  background-color: white;
  
}
#crat{
  border: 1px solid crimson;
  color: crimson;

}
#crat1{
  border: 1px solid crimson;
  color: crimso

}
.one{
  
  position: relative;
  left: 70px;
  margin-right: 20px;
}
.two{
  position: relative;
  left: 70px;
  margin-right: 20px;

}
.three{
  position: relative;
  left: 70px;
  margin-right: 20px;
}
.four{
  position: relative;
  left: 70px;
  margin-right: 20px;
}
.five{
  position: relative;
  left: 70px;
  margin-right: 20px;


}

.lorem{
  position: relative;
  left: 45px;
  bottom: 650px;
  font-size: 15px;
  
}
#logo{
  position: absolute;
  left: 55%;
  size: 400px;
  
}
.hangshoe{
  position: relative;
  left: 40%;
  bottom: 350px;
}
#bag4s{
  position: relative;
  top: 4px;
  left: 110px;

}
#heart4s{
  position: relative;
  bottom: 210px;


}
#bag5s{
  position: relative;
  top: 40px;
  left: 110px;


}
#heart5s{
  position: relative;
  bottom: 165px;

}
#heart6s{
  position: relative;
  bottom: 165px;


}
#bag6s{
  position: relative;
  top: 45px;
  left: 110px;

} 
.login{
  display: flex;
  position: relative;
  bottom: 550px;
  left: 900px;
}
#login1{
  margin-right: 15px;
}
#sign{
  margin-right: 15px;}
#lens{
  position: relative;
  top: 18px;
}



.loginT{
  position: relative;
  left: 900px;
  bottom: 70px;
}
#lenst{
  position: relative;
  right: 160px;
}
#logint{
  position: relative;
  top: 34px;
  right: 45px;
}
#en{
  position: relative;
  left: 90px;
  bottom: 40px

 
  }
  #black{
    position: relative;
    right: 900px;
  }
  #shoess1{
    width: 150px;
  }
  #shoess2{
    width: 150px;

  }
  #shoess3{
    width: 150px;

  }
  #image91{
    width: 100px;
    transform: rotate(-45deg);
  }
  #image101{
    width: 100px;
    transform: rotate(-45deg);
    position: relative;
    top: 25px;
  }
  #image111{
    width: 100px;
    transform: rotate(-45deg);
   margin-top: 30px;
  }
  #image112{
    width: 100px;
    transform: rotate(-45deg);
  }
  .container91{
    margin-right: 100px;
    background-color: white;
    width: 150px;
    
  }
  .container101{
    margin-right: 100px;
    background-color: white;
    width: 150px;
  }
  .container111{
    margin-right: 100px;
    background-color: white;
    width: 150px;

  }
  .container112{
    margin-right: 100px;
    background-color: white;
    width: 150px;
    
  }
  .container110{
    margin-right: 100px;
    background-color: white;
    width: 150px;
  }

  
  .main{
    display: flex;
    position: relative;
    left: 15%;
    bottom:  400px;
  }
  .content-alls{
    display: flex;
    position: relative;
    left: 1%;
    bottom: 190px;
    background-color:#F22E52;
    width: 1200px;
    border-radius: 25px;
    color: white;
  }
  .alls{
    position: relative;
    right: 10%;
    bottom: 600px;
  }
  #headings1{
    text-align: center;
    position: relative;

    bottom: 500px;
  }
  #ones{

  }
  #twoz{

  }
  #threez{

  }
  .shoess{
    position: relative;
    bottom: 600px;
  }
  .break1{
    position: relative;
    width: 1400px;
    background-color: white;
    bottom: 190px;
    height: 90px;
    border-radius: 20px;
    right: 30px;
    

  }
  .loginTs{
    position: relative;
    display: flex;
    left: 80%;
    bottom:550px;
    


  }
  .furs{
    margin-left: 40px;
  }
  #en1{
    position: relative;


  }
  #lensts{
    position: relative;
    right:  150px;
    top: 20px;
  }
  
  #fann{
    position: relative;
    top: 30px;
  }
  #air1{
    width: 550px;
    height: 550px;
  }
  .about{
    display: flex;
  }
  .short{
    position: relative;
    padding-left: 100px;
    bottom: 300px;
    font-size: 25px;
    
  }
  .vision{
    display: flex;
    
    
    
  }
  .our{
    font-size: 25px;
    
  }
  #air2{
  width: 550px;
  position: relative;
top: 20px;
left: 200px;
    


  }
  #air3{
    width:550px;
    height: 90%;
  }
  .airforce  {

    display: flex;
  }
  .approach{
    padding-left: 100px;
    font-size: 25px
  }
#play1{
  width: 100px;
}
#download1{
  width: 100px;
  position: relative;
  bottom: 35px;
}
.dolor{
  position: relative;
  
  display: flex
}
.ipsum{
    
  position: relative;
  left: 70px;
  margin-right: 20px;
}
.company{
  position: relative;
  left: 70px;
  margin-right: 20px;



}
.contact{
  position: relative;
  left: 70px;
  margin-right: 20px;

}


.more{
  position: relative;
  left: 70px;
  margin-right: 20px;

}


.twitter{
  position: relative;
  left: 70px;
  margin-right: 20px;

}
.dolor{
  display: flex;
  position: relative;
  
  background-color: #F24B59;
  width: 1250px;
  border-radius: 10px;
  margin-top: 30px;
  color: white;


}
#see1{
  color: white;
  background-color: #F22E52;
  border-radius: 10px;
}
#see2{
  color:white;
  background-color: #F22E52;
  border-radius: 10px;
}

#see3{
  color: white;
  background-color: #F22E52;
  border-radius: 10px;

}
#hello{
  position: relative;
  bottom: 260px;
}
.container14{

}
.empty{
  
  margin: 0;
  padding: 5%;
  background-color: white;

/* }
#name1{
  width: 400px;
  height: 30px;
  border-radius: 30px;
  position: relative;
}
#name2{
  width: 400px;
  border-radius: 30px;
  position: relative;
  height: 30px;
  top: 60px;
  right: 37%; */


/* }
#name3{
  width: 400px;
  height: 30px;
  border-radius: 30px;
  position: relative;
  top: 80px; */
    
/* }
#name4{
  width: 400px;
  border-radius: 30px ;
  position: relative;
  height: 32px;
  top: 140px;  */
  /* right: 415px; */

/* }
#name5{
  width: 400px;
  border-radius: 30px ;
  height: 30px;
  position: relative;
  top: 160px;
  right: 19%; */


    
}
.question{
  text-align: center;
}
.lists {
  list-style: none;
  position: relative;
  bottom: 800px;

  width: 50%;
  display: grid;
  left: 40%;
  
  

}
#lis1{
  
  
  top: 80px;
  height: 30px;
  position: relative;
  width: 40%;
  border-radius: 10px;
}
#lis2{
  width: 40%;
  height: 30px;
  position: relative;
  border-radius: 10px;
  
  top: 150px;
}
#lis3{
  width: 40%;
  height: 30px;
  position: relative;
  border-radius: 10px;
  
  top: 200px;
}
#lis6{
  width: 40%;
  height: 30px;
  position: relative;
  top: 350px;
  border-radius: 10px;
  background-color: #de3163;
  color: white;

}
#lis4{
  width: 40%;
  height: 30px;
  
  position: relative;
  border-radius: 10px;
  
  top: 250px;
}
#lis5{
  width: 40%;
  height: 80px;
  position: relative;
  top: 300px;
  border-radius: 20px;
}
#some{
  text-align: center;
}
.trend3{
  display: flex;
  list-style: none;
}

/* 

@media (max-width:800px){
  .body{
    grid-template-columns: repeat(1,1fr);
    width: 2px;
  }
}
@media (max-width:600px){
  .nav{
    grid-template-columns: repeat(1,1fr);
    
    width: 2px;
  }
  }

    @media (max-width:600px){
      .hangshoe{
        grid-template-columns: repeat(1,1fr);
        width :2px

      }
      
    }
    @media (max-width:800px){
      .login{
        grid-template-columns: repeat(1,1fr);
        width: 0px;
      }
    }
    @media (max-width:600px){
      .lorem{
        grid-template-columns: repeat(1,1fr);
        width: 2px;
      }
    }
    @media (max-width:850px){
      .all{
        grid-template-columns: repeat(1,1fr);
        display: grid;
        width: 2px;
      }
    }
    @media (max-width:850px){
      .container1{
        grid-template-columns: repeat(1,1fr);
        
        width: 15px;
      }
    }
    @media (max-width:850px){
      .container2{
        grid-template-columns: repeat(1,1fr);
        
        width: 15px;
      }
    }
    
      
    @media (max-width:900px){
      .container3{
        grid-template-columns: repeat(1,1fr);
        
        width: 15px;
      }
    }
    @media (max-width:800px){
      #feature{
      
        
        width: 10px;
      }
    }
    @media (max-width:600px){
      .people{
      
        
        width: 10px;
      }
    }
    @media (max-width:850px){
      .main2{
        grid-template-columns: repeat(1,1fr);
      
        
        
      }
    }
    @media (max-width:600px){
      .container1{
        grid-template-columns: repeat(1,1fr);
        
        width: 15px;
      }
    }
    @media (max-width:800px){
      .shoes2{
        grid-template-columns: repeat(1,1fr);
        
        width: 2px;
      }
    }
    
    @media (max-width:800px){
      .container13{
        grid-template-columns: repeat(1,1fr);
        display: grid;
        
        width: 10px;
        
      }
    }
    @media (max-width:800px){
      .container14{
        grid-template-columns: repeat(1,1fr);
        display: grid;
        
        width: 10px;
      }
    }
    @media (max-width:800px){
      .words{
        grid-template-columns: repeat(1,1fr);
        position: relative;
        /* right: 10%; */
/*         
        width: 10px;
      }
      .trend3 ul{
        display: flex;
        list-style: none;
      }
     
     */
     
      
    body {
      overflow-y: scroll;
      overflow-x: hidden;
      
      /* background-color: #87ceeb; */
    }

    
    
    /* @media (min-width: 480px){
    body {
      background-color: aquamarine;
      overflow-x: hidden;
      overflow-y: scroll;
        
        
      
        
      }
    }

    @media (min-width: 480px) {
      .hangshoe {
        
        justify-content: end;
        
      
      
        
      }
    }
    @media (min-width: 480px) {
      .content-all {
        
        justify-content: left;
        
      
      
        
      }
    }
    
     */
    
    
    
        
      
      
        
    
    
    /* @media (min-width: 480px)  {
    .all   {
      display: grid;
       
       
      
      
        background-color: #de3163;
        font-size: 1rem;
        position: relative;
        width: 10px;

        
        
      
        
        
      
      }
    }
     

    
    @media (min-width:480px) {
      .shoes2   {
        
        display: grid;
        font-size: 1rem;
        
        justify-content: left;
        height: auto !important;
         
        
        
        
          justify-content: right;
          size: 10px;
          position: relative;
          
            
           */
            
          
            
            
            
/*             
            
          }
        }
        @media (min-width: 480px)  {
          .main-container {
            grid-template-columns: repeat(4,1fr);
            
            display: grid;
            
            
            
        
          }
        }
        @media (min-width: 480)  {
          .content-all  {
      
              }}
        @media (min-width: 480px){
          .subscribe  {
            float: none;
            
            
        
          }
        }
        @media (max-width: 1200px) and(min-width:480px) {
          .container14  {
            justify-content: left;
            
            

            
          }
        }
        @media (max-width: 1200px) and(min-width:480px) {
          .main2  {
            
            
            

            
          }
        }
  
              
                
  
              
                
        @media (min-width: 320px) and (max-width: 1200px) {
          .content  {
      
              }
        @media (max-width: 300px)  {
          .main2 {
            display: block;
            justify-content: center;
            
            
            
            
            
        
          }
          
        
        

            
            
            
            
            
        
          }
        }
         */
        .trend3 ul{
          display: flex;
          list-style: none;
        }
   @media (max-width: 480px) {
  body {
    background-color: #87ceeb;
  }
}
@media (max-width: 768px) {
  body {
    
    
  }
}
@media (max-width: 480px) {
  .all {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    
  }
}
@media (max-width: 480px) {
  .main2 {
    position: relative;
    right: 30px;
    
    
  }
}
@media (max-width: 480px) {
  .main-container {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    
    
  }
}
 @media (max-width: 480px) {
  .container5 {
    width: 50%;
    
    position: relative;
    left: 60px; 
     
    
  }
}
@media (max-width: 480px) {
  .container6 {
     width: 50%;
     margin-top: 20px;
     position: relative;
     left: 20px;
    
  }
}
@media (max-width: 480px) {
  .container7{
     width: 50%;
     position: relative;
     left:24px;
     top: 40px;
    
  }
  
}
@media (max-width: 480px) {
  .container8{
     width: 49%;
     position: relative;
     left: 28px;
     top: 25px;
     
    
  }
}
@media (max-width: 480px) {
  .container9{
     width: 48%;
     
     position: relative;
     right: 80%;

     top: 20px;
     
    
  }
}
@media (max-width: 480px) {
  .container10{
     width: 45%;
     position: relative;
     right: 300px;

     top: 30px;
    
  }
}
@media (max-width: 480px) {
  .container11{
     width: 40%;
     position: relative;
     left: 45px;
     margin-top: 30px;
     top:20px 
    
  }
}
@media (max-width: 480px) {
  .container12{
     width: 40%;
  left: 58px;
  margin-top: 40px;
    
  }
}
@media (max-width: 480px) {
  .container13{
     width: 100%;
     position: relative;
    
  }
}
@media (max-width: 480px) {
  .container14{
     width: 100%;
     position: relative;
    
  }
}

@media (max-width: 768px) {
  body {
    
  }
  @media (max-width: 480px) {
    .container5 {
      width: 50%;
      background-color: #00eeff;
      position: relative;
      left: 90px; 
       
      
    }
  }
  @media (max-width: 768px) {
    .container6 {
       width: 50%;
       margin-top: 20px;
       position: relative;
       left: 12px;
       bottom: 20px;
      
    }
  }
  
      
    }
  
  @media (max-width: 768px) {
    .container7{
       width: 50%;
       position: relative;
       
       right: 60px;
       bottom: 88px;
      
    }
    
  }
  @media (max-width: 768px) {
    .container8{
       width: 49%;
       position: relative;
       right: 100px;
       bottom: 85px;
       
       
      
    }
  }
  @media (max-width: 768px) {
    .container9{
       width: 40%;
       
       position: relative;
       left: 60px;
  
       top: 20px;
       
      
    }
  }
  @media (max-width: 768px) {
    .container10{
       width: 40%;
       position: relative;
       right: 80%;
  
       top: 30px; 
      
     }
  }
  @media (max-width: 768px) {
    .container11{
       width: 40%;
       position: relative;
       left: 45px;
       margin-top: 30px;
       top:20px
      
    }
  }
  @media (max-width: 768px) {
    .container12{
       width: 40%;
    left: 58px;
    margin-top: 40px;
      
    }
  }
  @media (max-width: 480px) {
    .container5 {
      width: 50%;
      
      position: relative;
      left: 60px; 
       
      
    }
  }
  @media (max-width: 480px) {
    .container6 {
       width: 50%;
       margin-top: 20px;
       position: relative;
       left: 20px;
      
    }
  }
  @media (max-width: 480px) {
    .container7{
       width: 50%;
       position: relative;
       left:24px;
       top: 40px;
      
    }
    
  }
  @media (max-width: 480px) {
    .container8{
       width: 49%;
       position: relative;
       left: 28px;
       top: 25px;
        
      
     }
  }
  @media (max-width: 480px) {
    .container9{
       width: 48%;
       
       position: relative;
       right: 80%;
  
       top: 20px;
       
      
    }
  }
  @media (max-width: 480px) {
    .container10{
       width: 45%;
       position: relative;
       right: 300px;
  
       top: 30px;
      
    }
  }
  @media (max-width: 480px) {
    .container11{
       width: 40%;
       position: relative;
       left: 45px;
       margin-top: 30px;
       top:20px
      
    }
  }
  @media (max-width: 480px) {
    .container12{
       width: 40%;
    left: 58px;
    margin-top: 40px;
      
    }
  }
  @media (max-width: 480px) {
    .main{
       width: 100%;
       display: grid;
       grid-template-columns: repeat(1,1fr);
       position: relative;

      
    }
  }
  @media (max-width: 768px) {
    .container13{
       width: 100%;
       position: relative;
      
    }
  }


@media  (max-width: 1024px) {
  body {
    
  }
}
@media  (max-width: 1024px) {
  .content-all {
    width: 100%;
    
  }
}
@media  (max-width: 1024px) {
  body {
    
  }
}





 



 @media (max-width: 480px) {
  .shoes2 {
     grid-template-columns: repeat(1,1fr);
    
    width: 100%;
    
  }
 } 
 @media (max-width: 480px) {
  .container14 {
     
    
    width: 50%;
    
  }
 } 

 




@media (max-width: 480px) {
  .subscribe{
    width: 100%;

    
  } 
}
@media (max-width: 1024px) {
  .main2 {
    grid-template-columns: repeat(1,1fr);
    display: grid;
    
  }
}
@media (max-width: 1024px) {
  .container5 {
    width: 50%;
    background-color: #00eeff;
    position: relative;
    left: 90px; 
     
    
  }
}
@media (max-width: 1024px) {
  .container6 {
     width: 50%;
     margin-top: 20px;
     position: relative;
     left: 12px;
     bottom: 20px;
    
  }
}
@media (max-width: 1024px) {
  .container7{
     width: 50%;
     position: relative;
     
     right: 60px;
     bottom: 88px;
    
  }
  
}
@media (max-width: 1024px) {
  .container8{
     width: 49%;
     position: relative;
     right: 100px;
     bottom: 85px;
     
     
    
  }
}
@media (max-width: 1024px) {
  .container9{
     width: 40%; 
     
      position: relative;
     left: 60px;

     top: 20px;
     
    
  }
}
@media (max-width: 1024px) {
  .container10{
     width: 40%;
     position: relative;
     right: 80%;

     top: 30px;
    
  }
}
@media (max-width: 1024px) {
  .container11{
     width: 40%;
     position: relative;
     left: 45px;
     margin-top: 30px;
     top:20px
    
  }
}
@media (max-width: 1024px) {
  .container12{
     width: 40%;
  left: 58px;
  margin-top: 40px;
    
  }
} 
 @media (max-width: 1024px) {
  .wordss {
    grid-template-columns: repeat(1,1fr);
    display: grid;
    
  }
} 
@media (max-width: 480px) {
  .content {
    justify-content: center;
    
    
    
  }
}

/* @media (min-width: 320px) and (max-width: 480px) {
  body {
    
    @media (min-width: 320px) and (max-width: 480px) {
      .container5 {
        width: 50%;
        background-color: #00eeff;
        position: relative;
        left: 90px; 
         
        
      }
    }
    @media (min-width:320)and (max-width: 480px) {
      .main{
         width: 100%;
         display:block;
         grid-template-columns: repeat(1,1fr);
         position: relative;
  
        
      }
    }
    @media (max-width: 1024px) {
  .container5 {
    width: 50%;
    background-color: #00eeff;
    position: relative;
    left: 90px; 
     
    
  }
}
    @media (min-width:320) and(max-width: 480px) {
      .all{
         width: 50%;
         display: grid;
         grid-template-columns: repeat(1,1fr);
         position: relative;
  
        
      }
    }
    @media (min-width:320) and (max-width: 480px) {
      .container5 {
        width: 50%;
        background-color: #00eeff;
        position: relative;
        left: 90px; 
         
        
      }
    }
    @media (min-width: 320px) and (max-width: 480px) {
      .container6 {
         width: 50%;
         margin-top: 20px;
         position: relative;
         left: 12px;
         bottom: 20px;
        
      }
    }
    @media (min-width: 320px) and (max-width: 480px) {
      .container7{
         width: 50%;
         position: relative;
         
         right: 60px;
         bottom: 88px;
        
      }
      
    }
    @media (min-width: 320px) and (max-width: 480px){
      .container8{
         width: 49%;
         position: relative;
         right: 100px;
         bottom: 85px;
         
         
        
      }
    }
    @media (min-width: 320px) and (max-width: 480px) {
      .container9{
         width: 40%;
         
         position: relative;
         left: 60px;
    
         top: 20px;
         
        
      }
    }
    @media (min-width: 320px) and (max-width: 480px) {
      .container10{
         width: 40%;
         position: relative;
         right: 80%;
    
         top: 30px;
        
      }
    }
    @media (min-width: 320px) and (max-width: 480px) {
      .container11{
         width: 40%;
         position: relative;
         left: 45px;
         margin-top: 30px;
         top:20px
        
      }
    }
    @media (min-width: 320px) and (max-width: 480px) {
      .container12{
         width: 40%;
      left: 58px;
      margin-top: 40px;
        
      }
    }
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  body {
    background-color: #de3163;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .container5 {
    width: 50%;
    background-color: #00eeff;
    position: relative;
    left: 90px; 
     
    
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .container6 {
     width: 50%;
     margin-top: 20px;
     position: relative;
     left: 12px;
     bottom: 20px;
    
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .container7{
     width: 50%;
     position: relative;
     
     right: 60px;
     bottom: 88px;
    
  }
  
}
@media (min-width: 481px) and (max-width: 768px){
  .container8{
     width: 49%;
     position: relative;
     right: 100px;
     bottom: 85px;
     
     
    
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .container9{
     width: 40%;
     
     position: relative;
     left: 60px;

     top: 20px;
     
    
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .container10{
     width: 40%;
     position: relative;
     right: 80%;

     top: 30px;
    
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .container11{
     width: 40%;
     position: relative;
     left: 45px;
     margin-top: 30px;
     top:20px
    
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .container12{
     width: 40%;
  left: 58px;
  margin-top: 40px;
    
  }
}
}


@media (min-width: 769px) and (max-width: 1024px) {
  body {
    background-color: #de3163;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .container5 {
    width: 50%;
    background-color: #00eeff;
    position: relative;
    left: 90px; 
     
    
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .container6 {
     width: 50%;
     margin-top: 20px;
     position: relative;
     left: 12px;
     bottom: 20px;
    
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .container7{
     width: 50%;
     position: relative;
     
     right: 60px;
     bottom: 88px;
    
  }
  
}
@media (min-width: 769px) and (max-width: 1024px){
  .container8{
     width: 49%;
     position: relative;
     right: 100px;
     bottom: 85px;
     
     
    
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .container9{
     width: 40%;
     
     position: relative;
     left: 60px;

     top: 20px;
     
    
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .container10{
     width: 40%;
     position: relative;
     right: 80%;

     top: 30px;
    
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .container11{
     width: 40%;
     position: relative;
     left: 45px;
     margin-top: 30px;
     top:20px
    
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .container12{
     width: 40%;
  left: 58px;
  margin-top: 40px;
    
  }
}



@media (min-width: 1025px) and (max-width: 1200px) {
  body {
    background-color: #de3163;
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .container5 {
    width: 50%;
    background-color: #00eeff;
    position: relative;
    left: 90px; 
     
    
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .container6 {
     width: 50%;
     margin-top: 20px;
     position: relative;
     left: 12px;
     bottom: 20px;
    
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .container7{
     width: 50%;
     position: relative;
     
     right: 60px;
     bottom: 88px;
    
  }
  
}
@media (min-width: 1025px) and (max-width: 1200px){
  .container8{
     width: 49%;
     position: relative;
     right: 100px;
     bottom: 85px;
     
     
    
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .container9{
     width: 40%;
     
     position: relative;
     left: 60px;

     top: 20px;
     
    
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .container10{
     width: 40%;
     position: relative;
     right: 80%;

     top: 30px;
    
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .container11{
     width: 40%;
     position: relative;
     left: 45px;
     margin-top: 30px;
     top:20px
    
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .container12{
     width: 40%;
  left: 58px;
  margin-top: 40px;
    
  }
}












        

        
        

      

      
 */




        
          
    
     */


    
    
    
    
    
    

    


    

  
  


            

        

 




    

  

  


